*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    overflow-x: hidden;
}

.container{
    max-width: 1280px;
    width: 100%;
}


@import "./all-blocks/all-blokcs";